<div class="modal-content">
    <div class="modal-header" id="kt_modal_add_user_header">
        <h2 class="fw-bolder">Crear Diagnóstico </h2>

        <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-users-modal-action="close"
            (click)="modal.dismiss()">
            <span class="svg-icon svg-icon-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)"
                        fill="currentColor" />
                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)"
                        fill="currentColor" />
                </svg>
            </span>
        </div>
    </div>
    <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form" enctype="multipart/form-data">
            <div class="row mb-5">

                <div class="col-md-12 fv-row fv-plugins-icon-container mb-3">
                    <label class="required fs-5 fw-bold">Recepción</label>
                    <select formControlName="reception_id" class="form-select">
                        <option *ngFor="let reception of receptions" [ngValue]="reception.id">
                            {{ reception.custom_id }}
                        </option>
                    </select>
                    <div *ngIf="reception_id?.invalid && (reception_id?.dirty || reception_id?.touched)">
                        <p class="text-danger" *ngIf="reception_id?.errors?.['required']">
                            Campo requerido
                        </p>
                    </div>
                </div>
                <div class="col-md-6 fv-row fv-plugins-icon-container mb-3">
                    <label class="required fs-5 fw-bold">Descripción</label>
                    <input type="text" class="form-control form-control-solid" placeholder=""
                        formControlName="description">
                    <div *ngIf="description?.invalid && (description?.dirty || description?.touched)">
                        <p class="text-danger" *ngIf="description?.errors?.['required']">
                            Campo requerido
                        </p>
                    </div>
                </div>
                <div class="col-md-6 fv-row fv-plugins-icon-container mb-3">
                    <label class="required fs-5 fw-bold">Observaciones</label>
                    <input type="text" class="form-control form-control-solid" placeholder=""
                        formControlName="observations">
                    <div *ngIf="observations?.invalid && (observations?.dirty || observations?.touched)">
                        <p class="text-danger" *ngIf="observations?.errors?.['required']">
                            Campo requerido
                        </p>
                    </div>
                </div>
                <div class="col-md-6 fv-row fv-plugins-icon-container">
                    <label class="required fs-5 fw-bold ">Estado</label>
                    <!-- <input type="text" class="form-control form-control-solid" placeholder="" formControlName="type_of_job"> -->
                    <div>
                        <p-inputSwitch formControlName="status" />
                    </div>
                </div>
            </div>

            <div class="fv-row mb-7 text-center">
                <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Crear</button>
            </div>
        </form>
    </div>
</div>